html {
    scroll-behavior: smooth;
}
body {
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* HOME */
#home {
  background: url("mahess.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  color: #ffffff;
}
  
/* Contact */
#contact {
  width: 100vw;
}
#contact form input, textarea {
    border: 1px solid #000000;
    border-radius: 8px;
}
#contact form .con-sm input {
    height: 5vh;
    width: 30vw;
}
#contact form .con-com input {
    overflow: scroll;
}
