html {
    scroll-behavior: smooth;
}
body {
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* HOME */
#home {
  background: url("Eswar.jpeg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  color: #ffffff;
}
#home .intro {
  position: absolute;
  left: 8vw;
  top: 50vh;
}

/* Navbar */
.navbar {
  background-color: auto;
}

.navbar {
  font: 1rem;
  font-family: 'Odibee Sans', cursive;
  letter-spacing: 1px;
}
.navbar .navbar-brand {
  font: 2rem Bold;
  font-family: 'Odibee Sans', cursive;
  letter-spacing: 1px;
}

/* Intro */
.intro {
  text-align: left;
}

/* About */
#about {
  padding-top: 5vw;
  padding-bottom: 5vw;
  background-color: #000000;
  color: #ffffff;
}
#about p {
  margin-bottom: 1px;
}
  
/* Contact */
#contact {
  width: 100vw;
}
#contact form input, textarea {
    border: 1px solid #000000;
    border-radius: 8px;
}
#contact form .con-sm input {
    height: 5vh;
    width: 30vw;
}
#contact form .con-com input {
    overflow: scroll;
}

/* Education */
#education h2 {
  color: red;
  margin-bottom: 3vh;
}

.edu {
  background-color: #ffffff;
  color: #000000;
}
.edu {
  padding: 2vw;
  text-align: left;
  box-shadow: 5px 10px 10px 5px red;
  border-radius: 8px;
  margin-left: 6vw;
  margin-bottom: 5vh;
}

.edu .years {
  font-weight: lighter;
}

/* SKILLS */
#skills {
  text-align: left;
  align-items: flex-start;
}
.skills {
  position: relative;
  display: inline-block;
  border-radius: 4px;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  filter: hue-rotate(0deg);
  border: 2px solid #d2bdff;
  transition: all 0.1s linear;
  padding: 0.5vh 2vw;

  &:hover {
    border: 1px solid transparent;
    span {
      position: absolute;
      display: block;

      &:nth-child(1) {
        filter: hue-rotate(0deg);
        top: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background: linear-gradient(90deg, transparent, #3a86ff);
        animation: animate1 1s linear infinite;
      }
      @keyframes animate1 {
        0% {
          left: -100%;
        }
        50%,
        100% {
          left: 100%;
        }
      }

      &:nth-child(2) {
        filter: hue-rotate(60deg);
        top: -100%;
        right: 0;
        width: 3px;
        height: 100%;
        background: linear-gradient(180deg, transparent, #3a86ff);
        animation: animate2 1s linear infinite;
        animation-delay: 0.25s;
      }

      @keyframes animate2 {
        0% {
          top: -100%;
        }
        50%,
        100% {
          top: 100%;
        }
      }
      &:nth-child(3) {
        filter: hue-rotate(120deg);
        bottom: 0;
        right: 0;
        width: 100%;

        background: linear-gradient(270deg, transparent, #3a86ff);
        animation: animate3 1s linear infinite;
        animation-delay: 0.5s;
      }
      @keyframes animate3 {
        0% {
          right: -100%;
          height: 3px;
        }
        50%,
        100% {
          height: 2px;
          right: 100%;
        }
      }

      &:nth-child(4) {
        filter: hue-rotate(300deg);
        bottom: -100%;
        left: 0;
        width: 3px;
        height: 100%;
        background: linear-gradient(360deg, transparent, #3a86ff);
        animation: animate4 1s linear infinite;
        animation-delay: 0.75s;
      }
      @keyframes animate4 {
        0% {
          bottom: -100%;
        }
        50%,
        100% {
          bottom: 100%;
        }
      }
    }
  }
}
